:root {
  --background-color: #353535;
  --text-color: #eaeaea;
  --primary-color: #eaeaea;
  --button-bg-color: #353535;
  --button-border-color: #353535;
  --button-text-color: #eaeaea;
  --button-shadow-color: #2d2d2d;
  --result-bg-color: #353535;
  --result-text-color: #eaeaea;
  --result-shadow-color: #2d2d2d;
  --equal-bg-color: #353535;
  --main-bg-color: #eaeaea;
  --symbol-bg-color: #353535;
  --symbol-text-color: #eaeaea;
  --hover-bg-gradient-start: #303030;
  --hover-bg-gradient-end: #393939;
  --active-bg-color: #353535;
  --active-shadow-color: #2d2d2d;
}

/* Use variables in your styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: var(--primary-color);
  text-shadow: 10px 10px 20px var(--button-shadow-color), -10px -10px 20px #3d3d3d;
}

button {
  width: 90px;
  height: 90px;
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 100px;
  padding: 7px;
  margin: 3px;
  font-size: 30px;
  font-weight: bold;
  color: var(--button-text-color);
  cursor: pointer;
  box-shadow: 10px 10px 20px var(--button-shadow-color), -10px -10px 20px #3d3d3d;
}

#result {
  background-color: var(--result-bg-color);
  height: 95px;
  width: 405px;
  padding: 5px;
  color: var(--result-text-color);
  border-radius: 50%;
  background: var(--result-bg-color);
  box-shadow: 10px 10px 20px var(--result-shadow-color), -10px -10px 20px #3d3d3d;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-weight: bold;
  overflow-y: scroll;
}

#equal {
  color: var(--button-text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus,
#minus,
#multiply,
#divide,
#modulo,
#clear,
#delete {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 900, 'GRAD' 0, 'opsz' 24;
}

button:hover,
#delete:hover,
#equal:hover,
#clear:hover,
#plus:hover,
#minus:hover,
#multiply:hover,
#divide:hover,
#modulo:hover {
  background: linear-gradient(145deg, var(--hover-bg-gradient-start), var(--hover-bg-gradient-end));
  box-shadow: 10px 10px 20px var(--button-shadow-color), -10px -10px 20px #3d3d3d;
}

#result::-webkit-scrollbar {
  display: none;
}

#delete:active,
#equal:active,
#clear:active,
#plus:active,
#minus:active,
#multiply:active,
#divide:active,
#modulo:active,
button:active {
  background: var(--active-bg-color);
  box-shadow: inset 10px 10px 20px var(--active-shadow-color), inset -10px -10px 20px #3d3d3d;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  button {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  #result {
    width: 300px;
    font-size: 24px;
  }

  #equal {
    width: 150px;
  }
}

/* Define a class for the button */
#toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 32px;
  background-color: #ccc;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: 0.4s;
}

/* Define a class for the switch inside the button */
#toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

/* Move the switch to the right when the button is clicked */
#toggle.active::before {
  transform: translateX(30px);
}

/* Change the background color of the button when it's clicked */
#toggle.active {
  background-color: var(--hover-bg-gradient-end);
}

a {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
