body{
    background-color: #183642;
    color: #eaeaea;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
button{
    width: 90px;
    height: 90px;
    background-color: #313d5a;
    color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 7px;
    margin: 3px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
#result {
    background-color: #313d5a;
    height: 100px;
    width: 400px;
    border: 2px solid #eaeaea;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
}
#equal {
    width: 194px;
    height: 90px;
    background-color: #fb8f67;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#plus, #minus, #multiply, #divide, #modulo, #clear, #delete{
    background-color: #ffc2b4;
    color: #183642;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24
}
button:hover{
    background-color: #fb8f67;
}
#delete:hover, #clear:hover, #plus:hover, #minus:hover, #multiply:hover, #divide:hover, #modulo:hover{
    background-color: #73628a;
    color: #eaeaea;

}
#equal:hover{
    background-color: #73628a;
}