body {
  background-color: #353535;
  color: #eaeaea;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #eaeaea;
  text-shadow: 10px 10px 20px #2d2d2d, -10px -10px 20px #3d3d3d;
}

button {
  width: 90px;
  height: 90px;
  background-color: #353535;
  border: 1px solid #353535;
  border-radius: 100px;
  padding: 7px;
  margin: 3px;
  font-size: 30px;
  font-weight: bold;
  color: #eaeaea;
  cursor: pointer;
  box-shadow: 10px 10px 20px #2d2d2d, -10px -10px 20px #3d3d3d;
}

#result {
  background-color: #eaeaea;
  height: 95px;
  width: 405px;
  padding: 5px;
  color: #eaeaea;
  border-radius: 50%;
  background: #353535;
  box-shadow: 10px 10px 20px #2d2d2d, -10px -10px 20px #3d3d3d;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-weight: bold;
  overflow-y: scroll;
}

#equal {
  width: 194px;
  height: 90px;
  color: #eaeaea;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus,
#minus,
#multiply,
#divide,
#modulo,
#clear,
#delete {
  background-color: #353535;
  color: #eaeaea;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 900, 'GRAD' 0, 'opsz' 24;
}

button:hover,
#delete:hover,
#equal:hover,
#clear:hover,
#plus:hover,
#minus:hover,
#multiply:hover,
#divide:hover,
#modulo:hover {
  background: linear-gradient(145deg, #303030, #393939);
  box-shadow: 10px 10px 20px #2d2d2d, -10px -10px 20px #3d3d3d;
}

#result::-webkit-scrollbar {
  display: none;
}

#delete:active,
#equal:active,
#clear:active,
#plus:active,
#minus:active,
#multiply:active,
#divide:active,
#modulo:active,
button:active {
  background: #353535;
  box-shadow: inset 10px 10px 20px #2d2d2d, inset -10px -10px 20px #3d3d3d;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  button {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  #result {
    width: 300px;
    font-size: 24px;
  }

  #equal {
    width: 150px;
  }
}
/* Define a class for the button */
#toggle {
  position: absolute; /* Positioning relative to the nearest positioned ancestor */
  top: 10px; /* Position from the top */
  right: 10px; /* Position from the right */
  width: 60px; /* Width of the button */
  height: 32px; /* Height of the button */
  background-color: #ccc; /* Background color */
  border-radius: 30px; /* Rounded corners */
  cursor: pointer; /* Change mouse cursor to pointer when over the button */
  transition: 0.4s; /* Transition effect */
}

/* Define a class for the switch inside the button */
#toggle::before {
  content: ""; /* Add content before the button */
  position: absolute; /* Positioning relative to the nearest positioned ancestor */
  top: 2px; /* Position from the top */
  left: 2px; /* Position from the left */
  width: 26px; /* Width of the switch */
  height: 26px; /* Height of the switch */
  background-color: #fff; /* Background color */
  border-radius: 50%; /* Rounded corners */
  transition: 0.4s; /* Transition effect */
}

/* Move the switch to the right when the button is clicked */
#toggle.active::before {
  transform: translateX(30px); /* Move the switch 30px to the right */
}

/* Change the background color of the button when it's clicked */
#toggle.active {
  background-color: #000; /* Change the background color to black */
}

a{
  position: absolute; /* Positioning relative to the nearest positioned ancestor */
  top: 10px; /* Position from the top */
  left: 10px; /* Position from the right */
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}