body{
    background-color: #183642;
    color: #eaeaea;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
button{
    width: 90px;
    height: 90px;
    background-color: #313d5a;
    color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    padding: 7px;
    margin: 3px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 3px #2c2929;
    transition: background-color 0.01s;
    
}
#result {
    background-color: #313d5a;
    height: 100px;
    width: 400px;
    border: 2px solid #eaeaea;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    overflow: hidden;
    overflow-wrap: break-word;
    font-weight: bold;
    overflow-y: scroll;
}
#equal {
    width: 194px;
    height: 90px;
    background-color: #ffc2b4;
    color: #183642;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#plus, #minus, #multiply, #divide, #modulo, #clear, #delete{
    background-color: #ffc2b4;
    color: #183642;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24
}
button:hover{
    background-color: #fb8f67;
}
#equal:hover, #delete:hover, #clear:hover, #plus:hover, #minus:hover, #multiply:hover, #divide:hover, #modulo:hover{
    background-color: #73628a;
    color: #eaeaea;

}
#result::-webkit-scrollbar {
    display: none;
}
button:active{
    background-color: #313d5a;
    box-shadow: 2px 2px 2px #2c2929;
}
#equal:active, #delete:active, #clear:active, #plus:active, #minus:active, #multiply:active, #divide:active, #modulo:active{
    background-color: #313d5a;
    color: #eaeaea;
}