body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #333;
}

main {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

article {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
}

label {
  font-weight: bold;
  margin-top: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #5b86e5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #36d1dc;
}
