body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url(../icons/3-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding-top: 70px;
  color: #ffffff;
  font-size: large;
}

.cute-brain {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1;
}

.converter-header {
  background: rgba(23, 43, 70, 0.5);
  backdrop-filter: blur(30px);
  color: #ffffff;
  padding: 1px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.converter-main {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.converter-article {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.converter-subtitle {
  color: #ffffff;
  text-decoration: underline 3px;
}

.converter-input,
.converter-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
}

.converter-button {
  background-color: #5b86e5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.converter-button:hover {
  background-color: #36d1dc;
}

.converter-back {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
}

.converter-input {
  font-size: 16px;
  font-weight: 700;
  font-family: monospace;
}

.converter-select {
  font-size: 16px;
  font-weight: 700;
}
