/* styles/style.css */

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

/* Global styles */
body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, #94bbe9 100%);
  font-family: Arial, sans-serif;
  color: #1d1b1b;
  scroll-behavior: smooth;
}

/* .char {
  position: absolute;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: white;
  animation: moveChar infinite linear;
  animation-duration: 20s;
  z-index: 1; */
  /* opacity: 0.5; */
  /* width: 50px; Set a specific width
  height: 50px; Set a specific height
} */

/* @keyframes moveChar {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(100vh);
  }
} */


.header {
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(30px);
  padding: 16px;
  text-align: center;
  border-bottom: #00162b 3px solid;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  z-index: 4;
  width: 100%;
}

.header-title {
  margin: 0;
  font-size: 28px;
}

.header-subtitle {
  margin: 10px 0;
}

.main {
  margin: 15px;
  padding: 15px; 
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:40px 20px;
  padding-top: 40px;
}
.feature {
  /* display: flex; */
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 20px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  flex-shrink: 0;
}

.footer-created {
  color: #7dc7ff;
  font-size: 20px;
  text-decoration: underline 3px;
  text-shadow: #000000 1px 1px 3px;
  padding-bottom: 10px;
}

.footer-link {
  font-style: italic;
  padding: 2px 8px;
  transition: 0.3s ease-out;
  font-size: 17px;
  text-shadow: #000000 1px 1px 3px;
}

.footer-link:hover {
  color: rgb(222, 79, 79);
}


/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Typewriter animation styles */
.typewriter {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: typing 2s steps(20) infinite alternate;}

/* Typing animation */
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 250px;
  }
}

.card {
  width: 290px;
  height: 254px;
  border-radius: 20px;
  background: #94bbe9;
  position: relative;
  padding: 1.8rem;
  border: 2.5px solid #7dc7ff;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 35px;
 }
 
 .card-details {
  font-size: 1.1rem;
  color: black;
  height: 100%;
  gap: 2.5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: 2.5px solid #101112 ;
  background-color: #005bf8;
  color: #fff;
  font-size: 1.1rem;
  padding: .6rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
text-decoration: none;
 }
 
 .text-body {
  color: rgb(43, 43, 43);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.7em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #1b1b1c;
  box-shadow: 0 4px 18px 0 rgba(229, 229, 229, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 .img{
  position: relative;
  top: 2px;
  width: 40%;
  height: auto;
  border-radius: 23px;
  position: relative;
  margin-top: 10px;

 }
 .about{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px;
  padding: 30px;
  height: 85vh;
 }
 .title-fea{
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin: 30px;
 }
 .about-title{
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin: 30px;
 }

 /* For devices with width greater than 600px */
@media only screen and (min-width: 600px) {
  .img {

      width: 42%; /* Adjust as needed */
      left: 50%;
  }
}

/* For devices with width less than or equal to 600px */
@media only screen and (max-width: 600px) {
  .img {
      width: 100%; /* Adjust as needed */
  }
}